/*----------------------------------------------------*/
/* Sections
------------------------------------------------------ */
.scraper_settings {
    padding-top: 0px;
}

.run_scraper {
    padding-top: 50px;
}

.go_back {
    padding-top: 100px;
}