main {
    padding-top: 50px;
}

/*----------------------------------------------------*/
/* Buttons
------------------------------------------------------ */
.def_btn {
    background-color: #EEEEEE;
}
.def_btn:hover {
    background-color: #D4D4D4;
}

/*----------------------------------------------------*/
/* Footer
------------------------------------------------------ */
footer {
    height: 50px;
    padding: 100px 0px 100px 0px;
}

/*----------------------------------------------------*/
/* Misc
------------------------------------------------------ */
.error_msg {
    color: #FF0000;
    font-weight: bold;
}