{% extends "qd_base.jinja2" %}
{% block content %}
<main class="container">

    <!-- Scraper settings -->
    <section class="scraper_settings">
        <h1>Scraper settings:</h1>
        <hr/>
        <form action="{{request.route_url('qd_admin', action=action)}}" method="post" class="form">

            <!-- First page url -->
            <div class="form-group">
                <label for="first_url">{{ form.first_url.label }}</label>
                {{ form.first_url(class_='form-control') }}
            </div>

            <!-- Range -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="range_from">{{ form.range_from.label }}</label>
                    {{ form.range_from(class_='form-control') }}
                </div>
                <div class="form-group col-md-6">
                    <label for="range_to">{{ form.range_to.label }}</label>
                    {{ form.range_to(class_='form-control') }}
                </div>
            </div>

            <!-- Emails -->
            <hr/>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="info_email">{{ form.info_email.label }}</label>
                    {{ form.info_email(class_='form-control') }}
                </div>
                <div class="form-group col-md-6">
                    <label for="info_keywords">{{ form.info_keywords.label }}</label>
                    {{ form.info_keywords(class_='form-control') }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    {{ form.should_email(class_='form-check-input') }}
                    <label class="form-check-label" for="should_email"> {{ form.should_email.label }}</label>
                </div>
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </section>
    <!-- end of Scraper settings -->

    <!-- Errors -->
    {% if form.errors %}
    <section class="section_errors text-danger">
        <h1>Errors:</h1>
        <hr/>
        {% for field, errors in form.errors.items() %}
            <b>{{ loop.index0 + 1 }}. {{ form[field].label }}:</b> {{ ', '.join(errors) }}<br>
        {% endfor %}
    </section>
    {% endif %}
    <!-- end of Errors -->

    <!-- Run scraper -->
    <section class="run_scraper">
        <h1>Run scraper:</h1>
        <hr/>
        <div class="row">

            <!-- Clear Db Button -->
            <div class="col">
                <p><a href="{{ request.route_url('qd_admin', action='clear') }}">
                    <button class="btn btn-danger">Clear Db</button>
                </a></p>
            </div>

            <!-- Rebuild Db Button -->
            <div class="col">
                <p><a href="{{ request.route_url('qd_admin', action='rebuild') }}">
                    <button class="btn btn-primary">Rebuild Db</button>
                </a></p>
            </div>

        </div>
    </section>
    <!-- end of Run scraper -->

    <!-- Go back -->
    <section class="go_back">
        <hr/>
        <p><a href="{{ request.route_url('qd_home') }}">
            <button class="btn btn-primary">Go Back</button>
        </a></p>
    </section>
    <!-- end of Go back -->

</main>
{% endblock %}
